.menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.menu ul {
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
}

.menu li {
    margin: 10px 15px;
}
 
.menu a {
    display: block;
    text-decoration: none;
    padding: 7px 15px;
    font-size: 1vw;
    color: white;
    opacity: 0.8;
}

.menu a:hover {
    opacity: 1;
}

.active a {
    font-weight: bold;
    border-bottom: 2px solid white;
    opacity: 1;
}
