
.loan-text-box {
    float: right;
    width: 30%;
    margin-right: 3%;
}

.loan-description {
    font-size: 24px;
}

.loan-plot {
    float: left;
    width: 60%;
    height: 80%;
    /* background-color: lightgray; */
}

.loan-tooltip {	
    position: absolute;			
    text-align: center;							
    padding: 2px 8px;				
    font: "#F2F2F2" bold 12px sans-serif;		
    background: black;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    display: inline-block;
    text-align: left;
}