
.tuition-text-box {
    display: inline-block;
    width: 30%;
}

.tuition-plot {
    display: inline-block;
    width: 65%;
    height: 70%;
}

.tuition-description {
    font-size: 24px;
}

.axis {
    font: 16px arial;
}

.axis-label {
    fill: white;
    font-family: Arial;
    font-size: 18px;
}

.plot-title {
    font-family: Arial sans-serif;
    font-size: 24px;
    font-weight: 800;
    fill: #f2f2f2;
}

.tuition-tooltip {
    position: absolute;
    background-color: black;
    border-radius: 8px;
    text-align: left;
    padding: 10px;
    opacity: 0.7;
    display: none;
}

.number {
    width: 100%;
    text-align: right;
}
