
.tuition-text-box {
    float: left;
    width: 30%;
    padding-left: 3%;
}

.tuition-plot {
    float: right;
    width: 65%;
    height: 70%;
}

.tuition-description {
    font-size: 24px;
}


.tuition-tooltip {
    position: absolute;
    background-color: black;
    border-radius: 8px;
    text-align: left;
    padding: 10px;
    opacity: 0.7;
    display: none;
}

.number {
    width: 100%;
    text-align: right;
}
