body {
  font-family: arial, helvetica;
  height: 100%;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin: 50px 0;
}

.fp-section {
  text-align: center;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}

.container {
  position: relative;
  padding: 0 50px;
  width: 100%;
  height: 100%;
  color: white;
}


/* Modify the navigation dots given by FullPage.js */
/* #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
  background: #004e7b;
  position: absolute;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border: 1px solid #004e7b;
  background: rgba(0, 0, 0, 0);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span,
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 8px;
  height: 8px;
  margin: -2px 0 0 -2px;
} */


